

<form action="{url 'contact'}" method="post">
    {% csrf_token %}
    {{ contact_form }}

    <!-- <div class="row">
        <div class="col-lg-6">
            <input type="text" placeholder="Name">
        </div>
        <div class="col-lg-6">
            <input type="text" placeholder="Email">
        </div>
        <div class="col-lg-12">
            <input type="text" placeholder="Subject">
            <textarea placeholder="Message"></textarea> -->
            <button type="submit">Submit <i class="ti-angle-double-right"></i></button>
        </div>
    </div>
</form>