{% extends "base.html" %}
{% load static %}

{% load compress %}
{% compress css %}
<link type="text/x-scss" href="{% static 'css/style.scss' %}" rel="stylesheet" media="screen">
{% endcompress %}


{% block page_header %}
<div class="container header-container">
    <div class="row">

        <div class="col"></div>
         <!-- Hero Section Begin -->
         <section class="hero-section">
             <div class="hero-items owl-carousel">
                <!-- <img src="{% static 'media/slider-bg-2.jpg' %}"> -->
                 <div class="single-hero-item set-bg" data-setbg="{% static 'media/slider-bg-2.jpg' %}">
                     <div class="container">
                         <div class="hero-text">
                             <h4>Elite Personal Training Services</h4>
                             <h1>Make it <span>Shape</span></h1>
                             <a href="#" class="primary-btn">Join Us Now</a>
                         </div>
                     </div>
                 </div>
                 <div class="single-hero-item set-bg" data-setbg="media/slider-bg-2.jpg">
                     <div class="container">
                         <div class="hero-text">
                             <h4>Elite Personal Training Services</h4>
                             <h1>Make it <span>Shape</span></h1>
                             <a href="#" class="primary-btn">Join Us Now</a>
                         </div>
                     </div>
                 </div>
                 <div class="single-hero-item set-bg" data-setbg="media/slider-bg-3.jpg">
                     <div class="container">
                         <div class="hero-text">
                             <h4>Elite Personal Training Services</h4>
                             <h1>Make it <span>Shape</span></h1>
                             <a href="#" class="primary-btn">Join Us Now</a>
                         </div>
                     </div>
                 </div>
             </div>
         </section>
         <!-- Hero Section End -->
    </div>
</div>
{% endblock %}


{% block content %}

{% endblock %}