{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">

        <div class="col"></div>
         <!-- Hero Section Begin -->
         <section class="hero-section">
             <div class="hero-items owl-carousel">
                 <div class="single-hero-item set-bg" data-setbg="media/slider-bg-1.jpg">
                     <div class="container">
                         <div class="hero-text">
                             <h4>Elite Personal Training Services</h4>
                             <h1>Make it <span>Shape</span></h1>
                             <a href="#" class="primary-btn">Join Us Now</a>
                         </div>
                     </div>
                 </div>
                 <div class="single-hero-item set-bg" data-setbg="media/slider-bg-2.jpg">
                     <div class="container">
                         <div class="hero-text">
                             <h4>Elite Personal Training Services</h4>
                             <h1>Make it <span>Shape</span></h1>
                             <a href="#" class="primary-btn">Join Us Now</a>
                         </div>
                     </div>
                 </div>
                 <div class="single-hero-item set-bg" data-setbg="media/slider-bg-3.jpg">
                     <div class="container">
                         <div class="hero-text">
                             <h4>Elite Personal Training Services</h4>
                             <h1>Make it <span>Shape</span></h1>
                             <a href="#" class="primary-btn">Join Us Now</a>
                         </div>
                     </div>
                 </div>
             </div>
         </section>
         <!-- Hero Section End -->
    </div>
</div>

{% endblock %}

{% block content %}
<!-- <div class="container h-100">
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            <h1 class="display-4 logo-font text-black">
                The new collections are here
            </h1>
            <div class="my-5">
                <h4>
                    <a href="#" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop
                        Now</a>
                </h4>
            </div>
        </div>
    </div>
</div> -->
{% endblock %}