{% load static %}
<!-- Footer Section Begin -->
<footer class="footer-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="map-location">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8439.117808269453!2d-9.042806872988354!3d53.28401661067136!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x485b96c128b9d1a1%3A0xfa8c1ad2013cb64a!2sTown%20Park%20Centre%2C%20Tuam%20Rd%2C%20Galway!5e0!3m2!1sen!2sie!4v1676728601364!5m2!1sen!2sie"
                        style="border:0;" allowfullscreen=""></iframe>
                    <div class="map-widget">
                        <i class="fa fa-map-marker"></i>
                        <div class="map-address">
                            <img src="{% static 'media/map-location.jpg' %}" alt="">
                            <ul class="map-text">
                                <li><span>Address:</span> Town Park Centre, Tuam Rd, Galway</li>
                                <li><span>Phone:</span> 12-345-6789</li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="footer-form set-bg" data-setbg="{% static 'media/contact-form-bg.jpg' %}">
                    <div class="row">
                        <div class="col-lg-10">
                             <div class="section-title">
                                <h2>Request A Call Back</h2>
                                <p>Shape your body and burn fat with strength training. With the right equipment
                                    such as free weights or resistance machines.</p>
                            </div>
                            <form action="#">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <input type="text" placeholder="Name">
                                     </div>
                                    <div class="col-lg-6">
                                        <input type="text" placeholder="Email">
                                    </div>
                                    <div class="col-lg-12">
                                        <input type="text" placeholder="Subject">
                                        <textarea placeholder="Message"></textarea>
                                        <button type="submit">Submit <i class="ti-angle-double-right"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
 <!-- Footer Section End -->