{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
  <!-- Signup Section Begin -->
  <section class="choseus-section set-bg spad" data-setbg="{% static 'media/chose-us-bg.jpg' %}">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title">
            <h2>Sign Up</h2>
            <h5>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign
                in</a>.{% endblocktrans %}</p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-6 col-sm-6">
          <form class="signup text-white" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form | crispy }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button type="submit" class="btn primary-btn">{% trans "Sign Up" %}</button>
          </form>

        </div>
      </div>
  </section>
  <!-- Signup Section End -->

{% include 'includes/footer-widget.html' %}
{% endblock %}
