{% load static %}


<!doctype html>
<html lang="en">

<head>

  {% block meta %}
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="PONIGYM ">
  <meta name="keywords" content="PONIGYM, gym, fitness, bodybuilding, workout">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>PONIGYM</title>
  {% endblock %}


  {% block extra_meta %}
  {% endblock %}


  {% block corecss %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  {% endblock %}

  {% block extra_css %}
<!-- load and compress scss file -->
{% load compress %}
{% compress css %}
<link type="text/x-scss" href="{% static 'css/style.scss' %}" rel="stylesheet" media="screen">
{% endcompress %}



  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">

  <!-- Css Styles -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">

  <link rel="icon" type="image/x-icon" href="{% static 'media/favicon.ico' %}">
  {% endblock %}

  {% block corejs %}
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
  <script src="https://use.fontawesome.com/cb20fb1d61.js"></script>
  <!-- Stripe -->
  <script src="https://js.stripe.com/v3/"></script>
  {% endblock %}

<title>PONIGYM{% block extra_title %}{% endblock %}</title>

</head>

<body>
  
  <!-- Header Section Begin -->
  <header class="header-section header-normal">
    <div class="container">
      <div class="logo">
        <a href="{% url 'index' %}">
          <img src="{% static 'media/logo-normal.png' %}" alt="gym logo">
        </a>
      </div>
    </div>

    <div class="nav-menu">
      <nav class="mainmenu mobile-menu">
        <ul>
          <li class="active"><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="#">Schedule</a></li>
          <li><a href="{% url 'packages' %}">Memberships</a></li>
          <li><a href="#">Contacts</a></li>
          <li><a href="#">My Account</a>
            <ul class="dropdown">
              {% if request.user.is_authenticated %}
              <li><a href="{% url 'profile' %}">Profile</a></li>
              <li><a href="{% url 'account_logout' %}">Logout</a></li>
              {% else %}
              <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
              <li><a href="{% url 'account_login' %}">Login</a></li>
              {% endif %}
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    <div id="mobile-menu-wrap"></div>
  </header>
  <!-- Header End -->
 

<!-- Messages for user actions -->
<div class="message-container">
  <div class="row">
    <div class="d-flex justify-content-center align-items-center">
      {% for message in messages %}
      <div class="alert alert-dismissible fade show" id="msg" role="alert">
        {{ message | safe }}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- End Messages section -->

  {% block page_header %}
  {% endblock %}

  {% block content %}
  {% endblock %}

 



 {% block extra_js %}
 <!-- Js Plugins -->
 <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
 <script src="{% static 'js/bootstrap.min.js' %}"></script>
 <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
 <script src="{% static 'js/mixitup.min.js' %}"></script>
 <script src="{% static 'js/jquery.slicknav.js' %}"></script>
 <script src="{% static 'js/owl.carousel.min.js' %}"></script>
 <script src="{% static 'js/main.js' %}"></script>
 {% endblock %}

  {% block postloadjs %}
  <script>
    $('.owl-carousel').owlCarousel({
      loop:true,
      margin: 20,
      nav:true,
      singleItem : true,
      responsive:{
        0:{
          items:1
        },
        600:{
          items:1
        },
        1000:{
          items:1
        }
      }
    })
  </script>

    <script>
      // Scripts adapted from Code Institute provided code 
      setTimeout(function () {
        let messages = document.getElementById("msg");
        let alert = new bootstrap.Alert(messages);
        alert.close();
      }, 2000);
      $("#copyright").text(new Date().getFullYear());
    </script>
  {% endblock %}


</body>

</html>